@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=WorkSans&display=swap');
body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #2c3842;
    text-align: center;
    color: blue;
    margin-top: 20%;
    margin-left: 25px;
    margin-right: 25px;
}

button {
    text-align: left;
}

a {
    color: transparent;
    text-shadow: 0 0 15px rgba(135, 238, 203, 0.5);
    font-family: 'Roboto';
    font-weight: 500;
    font-style: light;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(0, 0, 0, 0.8);
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    color: rgb(168, 247, 192);
}

h1 {
    color: transparent;
    text-shadow: 0 0 15px rgba(135, 238, 203, 0.5);
    font-family: 'WorkSans';
    font-weight: 500;
    font-style: light;
    font-size: 30px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(207, 223, 163, 0.8);
    -webkit-font-smoothing: antialiased;
}

div {
    animation: blur 3s ease 0s infinite;
    -webkit-animation: blur 4s ease 0s infinite;
    -moz-animation: blur 4s ease 0s infinite;
}

p {
    text-align: center;
    color: transparent;
    text-shadow: 0 0 5px rgba(135, 238, 203, 0.5);
    font-family: 'Roboto';
    font-weight: 500;
    font-style: light;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: -.02em;
    color: rgba(48, 138, 126, 0.8);
    -webkit-font-smoothing: antialiased;
}

@keyframes blur {
    0%,
    90% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
    }
    50% {
        -webkit-filter: blur(2px);
        -moz-filter: blur(2px);
        -o-filter: blur(2px);
        -ms-filter: blur(2px);
    }
}